@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
  .bg-custom-dark{
    background: #020d1f;
  }
  .bg-custom-soft{
    background: #051a3d;
  }
  .border-custom{
    border-bottom: 1px solid #051a3d;
  }
  .h-custom{
    height: min(700px, 100vh);
  }
}

*{
  padding: 0;
  margin: 0;
}
.hero img{
  width: 360px;
  object-fit: cover;
}
.bgSlit{
  bottom: -20px;
}